.articleItem:hover h2 {
    text-decoration: underline;
}

.articleHeader {
    overflow: hidden;
    margin-top: var(--unit);
}

.articleHeader h2 {
    font-weight: normal;
    line-height: 1.2em;
    color: var(--color-primary);
    margin: 0;
    font-size: var(--font-size-large);
    font-family: var(--font-family-header-2);
    font-weight: 700;
}

/* The header shown when in the article
 * This is written this way because of 
 * line 25 in article.module.css
 */
.articleItem .articleHeaderh1 {
    font-size: var(--font-size-large-xx);
    font-weight: 700;
    margin-bottom: 0;
    font-family: var(--font-family-header-2);
}

.articleHeaderSummary {
    margin-bottom: var(--unit);
    font-size: var(--font-size-default);
    margin-top: calc(var(--unit) / 2);
    color: var(--color-text-1);
}

.articleHeaderSummary p {
    line-height: 1.6em;
    margin: 0;
    font-family: var(--font-family-text-2);
    font-size: var(--font-size-small);
    opacity: 0.85;
}

.articleHeaderMetaDetails {
    margin-top: calc(var(--unit) / 2);
    color: var(--color-text-1);
    font-size: var(--font-size-small-x);
}

.articleHeaderMetaDetails span {
    margin-right: var(--unit);
    font-size: var(--font-size-small-x);
    text-transform: uppercase;
    opacity: 0.45;
}
