.headerNav ul {
    display: flex;
    justify-content: flex-end;
}

.headerNav ul li {
    list-style: none;
    margin-left: var(--unit);
    text-transform: uppercase;
    font-size: var(--font-size-small);
}

@media (max-width: 414px) {
    .headerNav ul li {
        font-size: 0.85em;
    }
}

.headerNav a {
    text-decoration: none;
    border-bottom: 4px solid transparent;
    border-bottom: calc(var(--unit) / 4) solid transparent;
    transition: border 0.2s;
}
.headerNav a:hover {
    border-bottom: calc(var(--unit) / 4) solid var(--color-accent);
}

.activeLink a {
    border-bottom: calc(var(--unit) / 4) solid var(--color-accent);
}
