.footer {
    background-color: var(--color-primary-dark);
    color: var(--color-primary-light);
    padding: calc(var(--unit) * 2);
    display: flex;
    justify-content: space-between;
    min-height: calc(var(--unit) * 10);
    margin-top: calc(var(--unit) * 2);
    font-family: var(--font-family-header);
}

.footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer li {
    height: calc(var(--unit) * 2);
    display: inline-block;
    margin-right: var(--unit);
}

.footer a {
    color: var(--color-secondary-light);
}

.copyright {
    color: var(--color-secondary-light);
    height: calc(var(--unit) * 2);
    font-size: var(--font-size-small);
}
