
 /* This import is probably less performant */
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700');

:root {
    --unit: 16px;
    --header-height: calc(var(--unit) * 5);

    --font-size-default: 24px;
    --font-size-small: 18px;
    --font-size-small-x: 14px;
    --font-size-large: 26px;
    --font-size-large-x: 32px;
    --font-size-large-xx: 48px;
    /* colors */
    --color-primary: #031026;
    --color-primary-dark: #130d07bd;
    /* --color-primary-dark: #4a4a4a; */
    /* --color-primary-dark: #222222; */
    --color-primary-light: #fefefe;
    --color-secondary-light: #aaa;
    --color-primary-background: #FBFBFB; /*  #f15a5a; */
    --color-secondary-background: #efefef;
    --color-accent: #a6e22e;

    --color-text-1: #130d07bd;
    --color-text-light: #828282;

    /* fonts */
    /* --font-family-header: Helvetica, sans-serif; */
    --font-family-header: Inter, Helvetica, sans-serif;
    --font-family-header-2: Inter, Helvetica, sans-serif;
    --font-family-text-2: Inter, Helvetica, sans-serif;
    --font-family-meta: Inter, Helvetica, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: var(--font-size-default);

    font-family: var(--font-family-text-2);
    background-color: var(--color-primary-background);
    overflow: hidden;
}

a {
    color: inherit;
    transition: scale 0.2s;
    display: inline-block;
    color: var(--color-primary-dark);
    font-family: var(--font-family-header);
}

a:active {
    transform: scale(0.95);
}

* {
    box-sizing: border-box;
}

p {
    line-height: calc(1.5em + 0.2vw);
    color: var(--color-primary-dark);
}

pre[class*="language-"] code[class*="language-"] {
    padding: calc(var(--unit) / 6) var(--unit);
    font-size: var(--font-size-small-x);
    border-radius: var(--unit);
    word-break: break-word;
}

blockquote p {
    font-size: 2em;
    line-height: 1.1em;
    color: var(--color-secondary-light);
}

::selection {
    background-color: var(--color-accent);
}

@media (max-width: 320px) {
    body {
        font-size: var(--font-size-small);
    }

    p code {
        font-size: var(--font-size-small-x);
    }
}
