.searchQueryStyle {
    font-size: var(--font-size-large);
    display: flex;
    width: 100%;
}

.searchQueryInput {
    font-size: var(--font-size-large);
    margin-right: var(--unit);
    flex: 1 0 auto;
}

.searchQueryButton {
    font-size: var(--font-size-large);
    padding: 0 var(--unit);
}