.searchQueryStyle {
    font-size: var(--font-size-large);
    display: flex;
    width: 100%;
}

.searchQueryInput {
    font-size: var(--font-size-large);
    margin-right: var(--unit);
    flex: 1 0 auto;
    border: none;
    border-bottom: 2px solid var(--color-primary);
    outline: none;
    background-color: transparent;
}

.searchQueryInput:active, .searchQueryInput:focus {
    border-bottom: 2px solid var(--color-accent);
}

.searchQueryButton {
    font-size: var(--font-size-large);
    padding: 0 var(--unit);
    background-color: var(--color-primary);
    color: var(--color-primary-light);
    border: none;
    font-size: var(--font-size-small);

}