.toolsList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: calc(var(--unit) * 2);
}

.toolsItem {
    font-size: var(--font-size-small);
    font-family: var(--font-family-text-2);
    opacity: 0.8;
    /* transition: opacity 0.25s; */
}

.toolsItem:hover {
    opacity: 1;
}

.toolsItemTitle {
    font-family: var(--font-family-text-2);
    font-size: var(--font-size-large);
    color: var(--color-primary);
}

.toolsItem a {
    text-decoration: none;
}

.toolsItem h2::after {
    content: "↗";
    color: var(--color-accent);
    margin-left: calc(var(--unit) / 2);
    display: inline-block;
    line-height: 0;
    opacity: 0;
    transition: opacity 0.4s;
}
.toolsItem:hover h2::after {
    opacity: 1;
}

.toolsItem:hover h2 {
    text-decoration: underline;
}

.toolDescription {
    font-family: var(--font-family-text-2);
    line-height: 1.45em;
}

/* Some tool items are importing an mdx description */
.toolDescription p {
    line-height: 1.45em;
}

.toolsItem footer label {
    display: inline-block;
    margin: calc(var(--unit) / 4) var(--unit) 0 0;
    /* padding: calc(var(--unit) / 4) 0; */
    /* background-color: var(--color-secondary-background); */
    font-size: var(--font-size-small-x);
    font-family: var(--font-family-header);
    opacity: 0.5;
}
